body {

  background-image: url("https://media.giphy.com/media/Vdn1lhtGoWMRW/giphy.gif");
  background-color: #434c3d;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
   visibility: hidden;
  /* opacity: 0; */
  transition: visibility 0s 2s, opacity 2s linear;
}


.App {
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
 
}

.form-container {
  background-color: #9db0a0;
  border-radius: 8px;
  color: #fff;
  max-width: 350px;
  margin: 20px 0 70px;
  min-height: 400px;
  padding: 30px;

}

.main {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

img {
  height: 10%;
  width: 10%;
}

.garment-form, .user-form {
  text-align: left;
  padding: 10%;
  border: 2px solid black;
}

.garment-input, .signup-input {
  margin-bottom: 1em;
  width: 20em;
  height: 2em;
}

.submit-button {
  margin-top: 1em;
  height: 2em;
  width: 8em; 
  font-size: 15px;
  color: white;
  background-color:rgb(93, 106, 223);
  border-radius: 10px;
}

.garment-nav {
  display:flex;
}

h4 {
  background-color: gray;
  margin: 0.5%;
  padding: 0.5em;
}

h4:hover {
  background-color: rgb(83, 83, 83);
}

.user {
  display: flex;
}

.username {
  align-items: center;
}

h3 {
  padding-left: 0.5%
}
