.signup-input {
    display: flex;
    background-color: #fffcf5;
    border: medium none;
    border-radius: 4px;
    color: #66615b;
    font-size: 16px;
    transition: background-color 0.3s ease 0s;
    padding: 7px 18px;
    height: 40px;
    box-shadow: none;
}